body {
    background-color: #fff; /* Light blue background */
  }
  
  .about-me {
    color: #000000; /* Red color */
  }
  
  .about-me h1 {
    color: #9b8fd3; /* Red color for heading */
  }
  
  .about-me p {
    color: #000000; /* Red color for paragraph */
  }
  
  .about-me {
    display: flex; /* Use flexbox to align elements */
    align-self: left; /* Align elements to the left */
    padding: 30px;
  }
  
  .text-container {
    flex: 2; /* Text container takes up 2/3 of the screen */
    padding: 25px;
    text-align: left; /* Align text to the left */
  }
  
  .image-container {
    flex: 1.5; /* Image container takes up 1/3 of the screen */
    padding: 100px 0; /* This applies 100px padding to the top and bottom, and 0 padding to the left and right */
    display: flex;
    justify-content: center; /* Center the image */
  }
  
  .portrait-image {
    width: 100%; 
    height: auto; /* Maintain the aspect ratio */
  }
  