body {
    background-color: #add8e6; /* Light blue background */
  }
  
  .about-me {
    color: #ff6347; /* Red color */
  }
  
  .about-me h1 {
    color: #ff6347; /* Red color for heading */
  }
  
  .about-me p {
    color: #ff6347; /* Red color for paragraph */
  }
  