.about-me {
  display: flex; /* Use flexbox to align elements */
  padding: 30px;
}

.text-container {
  flex: 2; /* Text container takes up 2/3 of the screen */
  padding: 25px;
  text-align: left; /* Align text to the left */
}

.image-container {
  flex: 1.5; /* Image container takes up 1/3 of the screen */
  padding: 0 20px; /* Add padding to the sides */
  display: flex;
  justify-content: center; /* Center the image */
  align-items: center; /* Vertically center the image */
}

.portrait-image {
  max-width: 100%; /* Set maximum width */
  max-height: 100%; /* Set maximum height */
  width: auto; /* Allow width to adjust based on height */
  height: auto; /* Allow height to adjust based on width */
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
  .about-me {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .image-container {
    flex: 1; /* Image container takes up full width on smaller screens */
    padding: 20px 0; /* Adjust padding */
  }
}
