.ContactTitle {
  color: #cc3333; /* Dark red text color */
}

.ContactContent {
  color: #990000; /* Darker red text color */
}

.ContactImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.ContactDescription {
  color: #cc3333; /* Dark red text color */
  padding: 10px 200px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 200px;
}

label {
  display: flex;
  font-weight: bold;
  margin: 10px;
}

.contactButton {
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  background-color: #cc3333; /* Dark red background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Disable textarea resizing */
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px; /* Set height for message box */
  width: 75%;
}

@media (max-width: 1024px) {
  .ContactForm {
    padding: 10px;
  }

  textarea {
    width: 90%;
  }
}