.ResumeTitle {
    color: #753192; /* Match the purple color of the resume */
  }
  
  .ResumeContainer {
    color: black; /* Medium gray text color */
    display: flex; /* Use flexbox to align elements */
    flex-direction: column; /* Stack elements vertically */
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .resume-image {
    width: 50%;
    height: auto;
  }

  .certificate-image{
    width: 50%;
    height: auto;
  }

  .CertificateContent {
    margin-top: 50px;
  }

  @media screen and (max-width: 1024px){
    .resume-image {
      width: 100%;
    }
    .certificate-image {
      width: 100%;
    }
  }
