.ResumeTitle {
    color: #006400; /* Dark gray text color */
  }
  
  .ResumeContent {
    color: #228b22; /* Medium gray text color */
  }

  .resume-image {
    width: 50%;
    height: auto;
  }

  @media screen and (max-width: 1024px){
    .resume-image {
      width: 100%;
    }
  }