.ResumeTitle {
    color: #753192; /* Match the purple color of the resume */
  }
  
  .ResumeContainer {
    color: #414b3b; /* Medium gray text color */
    display: flex; /* Use flexbox to align elements */
    flex-direction: column; /* Stack elements vertically */
  }

  .resume-image {
    width: 50%;
    height: auto;
  }

  .certificate-image{
    width: 50%;
    height: auto;
  }

  @media screen and (max-width: 1024px){
    .resume-image {
      width: 100%;
    }
    .certificate-image {
      width: 100%;
    }
  }
